 
# Business Questions

1. What are the summary statistics? 
2. How to efficiently stock the products with respect to order placed time/date? (pivot time Vs prods)
3. How can we predict the products that will be reordered by a customer? 
4. How can the products be grouped for combo offers? (market basket analysis)
5. What are the frequently reordered products? (stats)
6. Are order size and frequency of orders of a customer related? (hypothesis)
7. How can we profile the customer? (clustering)
8. How can we increase the cart size of the customer? (market basket analysis - complementry products/ did u forget)
9. What are all the product categories that can be removed from the catalog? (pivot) 
10. Will time bound offers/discounts work for any product categories? (market basket analysisn-bundling vs time)
11. How is the product-wise sales within each categories? (pivot table)
12. Is there any significant difference between the products orders on weekdays and weekends? (hypothesis)
13. How can we refine existing data collection for better insights? (suggestions)
14. What is the average time (in number of orders) between the purchase of the top 5 most popular products? (Geometric distribution)


** Since the test set is not available, the training set is considered as the test set and the prior set is considered as the training set.

In [1]:
#Libraries required 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import os

In [2]:
#Loading data

aisles_df = pd.read_csv('../input/instacart-online-grocery-basket-analysis-dataset/aisles.csv')
department_df = pd.read_csv('../input/instacart-online-grocery-basket-analysis-dataset/departments.csv')
order_products_train_df = pd.read_csv('../input/instacart-online-grocery-basket-analysis-dataset/order_products__prior.csv')
order_products_test_df = pd.read_csv('../input/instacart-online-grocery-basket-analysis-dataset/order_products__train.csv')
orders_df = pd.read_csv('../input/instacart-online-grocery-basket-analysis-dataset/orders.csv')
products_df = pd.read_csv('../input/instacart-online-grocery-basket-analysis-dataset/products.csv')

# 1. What are the summary statistics?

In [3]:
#Summary statistics - Aisles
aisles_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 134 entries, 0 to 133
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   aisle_id  134 non-null    int64
 1   aisle     134 non-null    object
dtypes: int64(1), object(1)
memory usage: 2.2+ KB

In [4]:
aisles_df.head()

   aisle_id                       aisle
0         1       prepared soups salads
1         2           specialty cheeses
2         3         energy granola bars
3         4               instant foods
4         5  marinades meat preparation

In [5]:
#Summary statistics - Department
department_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   department_id  21 non-null     int64
 1   department     21 non-null     object
dtypes: int64(1), object(1)
memory usage: 464.0+ bytes

In [6]:
department_df.head()

   department_id department
0              1     frozen
1              2      other
2              3     bakery
3              4    produce
4              5    alcohol

In [7]:
#Summary statistics - Products
products_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49688 entries, 0 to 49687
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   product_id     49688 non-null  int64
 1   product_name   49688 non-null  object
 2   aisle_id       49688 non-null  int64
 3   department_id  49688 non-null  int64
dtypes: int64(3), object(1)
memory usage: 1.5+ MB

In [8]:
products_df.head()

,product_id,product_name,aisle_id,department_id
0,1,Chocolate Sandwich Cookies,61,19
1,2,All-Seasons Salt,104,13
2,3,Robust Golden Unsweetened Oolong Tea,94,7
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1
4,5,Green Chile Anytime Sauce,5,13

In [9]:
orders_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3421083 entries, 0 to 3421082
Data columns (total 7 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int64
 1   user_id                 int64
 2   eval_set                object
 3   order_number            int64
 4   order_dow               int64
 5   order_hour_of_day       int64
 6   days_since_prior_order  float64
dtypes: float64(1), int64(5), object(1)
memory usage: 182.7+ MB

In [10]:
orders_df.eval_set.unique()

array(['prior', 'train', 'test'], dtype=object)